$main-color: #f7f7f7
$additional-color-light: #fafafa
$additional-color-dark: #bbbbbb
$additional-color-muted: #888888
$bg-color: #ffffff
$border-color: #dddddd
$color-success: #6dfd68
$color-success-hover: #9dfa98
$color-success-active: #4fd84a
$color-error: #e66b6b
$color-error-hover: #dc5b5b
$color-error-active: #ee5045
$color-edit: #f0d35a
$color-edit-hover: #e6c444
$color-edit-active: #d1af32