@use '../../assets/_vars.module' as c
  
.header
  position: sticky
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem c.$main-padding
  background: linear-gradient(0deg, #f3f3f3 0%, #b9b9b9 100%)